.groupfeature{
    min-width: 970px;
}
.groupfeature .hometitle {
    padding: 7px 10px 12px;
    background: #e9edf0;
    position: relative;
    text-transform: uppercase;
    overflow: auto;
}
   
.groupfeature .hometitle:before {
    content: "";
    border-left: 4px solid #008848;
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
}
span.price{
    color: #df4024;
}