.row.featured__filter{
	background-color: white;
	margin-left: 1px;
	min-width: 970px;
	padding-left: 10px;
	border-radius: 4px;
}

.row.featured__filter a {
	color: #0064c2;
	font-size: 13px;
	text-align: center;
    padding: 0 5px;
	width: 120px;
}
.featured__item__text{
	text-align: center;
}
.featured__item__pic img{
	display: block; 
	margin-left: 10px; 
	margin-right: auto;
}
.col-lg-1 {
    width: 10.5%;
	bottom: 8px;
}

