section {
    display: block;
    width: 1200px;
    margin: 50px auto 0;
}
.customer-form-box {
    padding: 26px 24px;
    width: 505px;
    margin: 80px auto 20px;
    background: #fff;
}
.customer-form-box {
    display: block;
}

.customer-form-box .form-otp {
    display: none;
    width: 100%;
    padding: 0 25px 8px;
    position: relative;
}
.customer-form-box * {
    box-sizing: border-box;
}
.customer-form-box .register-frm {
    margin-bottom: 15px;
}
.customer-form-box * {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.customer-form-box .register-frm input {
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 5px 10px;
    width: 100%;
    padding-left: 59px;
    min-height: 49px;
    max-height: 49px;
}
.customer-form-box * {
    box-sizing: border-box;
}
input{
    font: 14px/18px Helvetica,Arial,sans-serif;
    color: #333;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

.customer-form-box .form-otp p.text {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #333;
    padding: 0 25px 34px;
}
.btni {
    font-size: 14px;
    color: #fff !important;
    border: 0;
    text-align: center;
    font-weight: 600;
    border-radius: 8px;
    background-color: #018245;
    cursor: pointer;
    padding: 14px 20px;
    width: 100%;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}