.card-bodies .card_img{
    width: 100%;
}

.infosell {
    overflow: visible;
    width: 410px;
    margin-left: 10px;
    box-sizing: border-box;
    float: left;
}

.nameproduct {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 22px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.ratinglist-price {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
.boxprice {
    display: inline-block;
}
.boxprice strong {
    display: inline-block;
    font-size: 24px;
    color: #c10017;
    vertical-align: middle;
}
.boxprice .strike {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-left: 5px;
}

.glyphicon-chevron-left:before {
    cursor: pointer;
}
.butto{
    display: block;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    width: 40%;
    float: right;
}
.card.cardnormals{
    min-height: 400px;
    background: #fff;
    width: 60%;
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 20px 20px;
    margin: 30px 30%;
}