*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

:root {
  --primary-color: #008848;
  --secondry-color: #43121d;
  --third-color: #0081bd;;
  --white-color: #fff;
  --text-color: #999;
  --bg-color: #e9edf0;
  --black-color: #000;
  --primary-font: 'Roboto', sans-serif;
  --secondry-font: 'Quicksand', sans-serif;
}
a{
  color: var(--white-color);
}
a,
a:hover {
  text-decoration: none;
}
h3{
  font-size: 17px;
}

.hero {
	padding-bottom: 50px;
}

.hero__categories {
	position: relative;
}

.hero.hero-normal .hero__categories ul {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}

.hero__categories ul.components {
  padding: 20px 0;
}

.hero__categories ul li a {
  padding: 10px 10px 10px 15px;
  font-size: 1.1em;
  display: block;
}

.hero__categories ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: var(--primary-color);
}


a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}

.hero__categories__all {
	background:#ffffff;
	position: relative;
	padding: 12px 15px 6px 12px;
	cursor: pointer;
  top: 10px;
  border-radius: 5px 5px 0 0;
}

.hero__categories__all i {
	font-size: 14px;
	color: #656565;
	margin-right: 10px;
}

.hero__categories__all span {
	font-size: 14px;
	font-weight: 400;
	color: #656565;
}

.hero__categories__all:after {
	position: absolute;
	font-family: "ElegantIcons";
	font-size: 18px;
	color: #ffffff;
}

.hero__categories{
  max-width: 210px;
  margin-left: 10px;
}
.hero__categories ul {
	border: 1px solid #ebebeb;
  background-color: #ffffff;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.hero__categories ul li {
  
	list-style: none;
}

.hero__categories ul li a {
	font-size: 12px;
	color: #1c1c1c;
	line-height: 29px;
	display: block;
}

.navbar{
  /* position: fixed;
  width: 100%; 
  margin: auto;
  top: 0;
  z-index:1; */
  height: 60px; 
  border-radius: 0;
  background-color: var(--primary-color);
}

.navbar-header{
  padding: 0;
}

.navbar-header img{
  width: 180px;

}
.glyphicon{
  margin-right: 5px;
}
form {
  display: flex;
  height: 40px;
  min-width: 125px;
  width: 330px;
  top:8px;
  position: relative;
}

form input {
  font-size: 14px;
  border: solid 1px #dbdbdb;
  outline: none;
  padding: 10px 0px 10px 20px;
  z-index: 2;
  color: #262626;
  background-color: #fafafa;
  border-radius: 5px 0px 0px 5px;
  margin-left: 50px;
  width: 350px;
}

.btn{
  height: 40px;
}
.badge{
  background-color: rgb(224, 31, 31);
}
.nav li{
  left: -10px;
  top: 2px;
}